{% extends 'tracker/base.html' %}

{% block content %}
  <div class="session">
    <h1>{{ session.name }}</h1>
    <div class="date">Added {{ session.created }}</div>
    <br/>
    <p>{{ session.location }}</p>
    <br/>

    <h3>Dates</h3>
    <ul>
      {% for event in events %}
        <li>{{ event.date }}</li>
      {% endfor %}
    </ul>
    <br/>

    <h3>Tunes &nbsp;
      {% if user.is_authenticated %}
        <a class="btn btn-success" role="button" data-toggle="collapse" href="#newTune" aria-expanded="false" aria-controls="newTune">
          <span class="glyphicon glyphicon-plus"></span> Add Tune
        </a>
      {% endif %}
    </h3>
    {% if user.is_authenticated %}
      <div class="collapse" id="newTune">
        <form method="POST">{% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-default">Save</button>
        </form>
      </div>
    {% endif %}
    <ul>
      {% for tune in tunes %}
        <li><a href="{% url 'tune_detail' pk=tune.pk %}">{{ tune.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {{ form.media }}
{% endblock %}
