{% extends 'tracker/base.html' %}

{% block content %}
    {% for session in sessions %}
        <div class="session">
            <h2><a href="{% url 'session_detail' pk=session.pk %}">{{ session.name }}</a></h2>
        </div>
    {% endfor %}
{% endblock %}
