{% extends 'tracker/base.html' %}
{% load static %}}

{% block content %}
    <h2>New track</h2>
    <form method="POST">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-default">Save</button>
    </form>
    {{ form.media }}
{% endblock %}
