{% extends 'tracker/base.html' %}

{% block content %}
    {% for track in tracks %}
        <div class="track">
            <h2><a href="{% url 'track_detail' pk=track.pk %}">{{ track.tune }}</a></h2>
            <div class="date">
                <p>Created: {{ track.created }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
