{% extends 'tracker/base.html' %}

{% block content %}
    <div>
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'track_edit' pk=track.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h2>{{ track.tune }}</h2>
        <p>{{ track.tune.abc|linebreaksbr }}</p>
        <div class="date">
            {{ track.created }}
        </div>
    </div>
{% endblock %}
