{% extends 'tracker/base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/abcjs-audio.css' %}">
    <div>
        <h1>{{ tune.name }}</h1>
        <p><strong>Type:</strong> {{ tune.tune_type }}</p>
        <p><strong>Meter:</strong> {{ tune.meter }}</p>
        <p><strong>Mode:</strong> {{ tune.mode }}</p>
        <p><strong>External links:</strong>
            <a href="https://thesession.org/tunes/{{ tune.sid }}">{{ tune.name }} (The Session)</a></li>
        </p>
        <p>
            <strong>ABC:</strong><br/>
            <pre>{{ tune.abc_full }}</pre>
        </p>
        <div id="notation"></div>
        <div id="audio"></div>
        
        <br/><div class="date">{{ track.created }}</div>
    </div>
    <script src="{% static 'js/abcjs_basic_5.10.3-min.js' %}"></script>
    <script type="text/javascript">
        if (ABCJS.synth.supportsAudio()) {
            var visualObj = ABCJS.renderAbc('notation', '{{ tune.abc_full|escapejs }}')[0];
			var synthControl = new ABCJS.synth.SynthController();
			synthControl.load("#audio", null, {displayRestart: true, displayPlay: true, displayProgress: true});
			synthControl.setTune(visualObj, false);
		} else {
			document.querySelector("#audio").innerHTML = "<div class='audio-error'>Audio is not supported in this browser.</div>";
		}
    </script>
{% endblock %}
