/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.content {
    padding: 20px 5px;
}
h1, h2 {
    font-family: 'Lobster', cursive;
}
.date {
    color: #828282;
    font-size: smaller;
}
